{{ define "main" }}
<article class="section-page">
  {{ with site.GetPage "/articles" }}
    <p class="breadcrumb"><a href="{{ .RelPermalink }}">&larr; {{ T "nav_articles" }}</a></p>
  {{ end }}
  <h1>{{ .Title }}</h1>
  <ul class="content-list">
    {{ range .Pages.ByDate.Reverse }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>{{ end }}
      </li>
    {{ end }}
  </ul>
</article>
{{ end }}
