{{ define "main" }}
{{ $colorClass := partial "category-color.html" .Title }}
<article class="section-page term-page">
  <div class="term-header {{ $colorClass }}">
    {{ with site.GetPage "/articles" }}
      <p class="breadcrumb"><a href="{{ .RelPermalink }}">&larr; {{ T "nav_articles" }}</a></p>
    {{ end }}
    <h1>{{ .Title }}</h1>
  </div>
  <ul class="content-list">
    {{ range .Pages.ByDate.Reverse }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>{{ end }}
      </li>
    {{ end }}
  </ul>
</article>
{{ end }}
