{{ define "main" }}
<article class="single-page album-page">
  <h1>{{ .Title }}</h1>
  <div class="content-body">{{ .Content }}</div>
  {{ $folder := .Params.image_folder | default .File.ContentBaseName }}
  {{ $dir := printf "images/gallery/%s" $folder }}
  {{ $exts := slice ".jpg" ".jpeg" ".png" ".gif" ".webp" }}
  {{ with (readDir (printf "static/%s" $dir)) }}
    <ul class="photo-grid" data-lightbox-group>
      {{ range . }}
        {{ if in $exts (lower (path.Ext .Name)) }}
          {{ $src := printf "/%s/%s" $dir .Name | relURL }}
          <li>
            <button type="button" class="photo-thumb" data-lightbox-src="{{ $src }}">
              <img src="{{ $src }}" alt="" loading="lazy">
            </button>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
</article>

<div class="lightbox" data-lightbox-root hidden>
  <button type="button" class="lightbox-close" data-lightbox-close aria-label="{{ T "lightbox_close" }}">&times;</button>
  <button type="button" class="lightbox-nav lightbox-prev" data-lightbox-prev aria-label="{{ T "lightbox_previous" }}">&#8249;</button>
  <img class="lightbox-image" data-lightbox-image src="" alt="">
  <button type="button" class="lightbox-nav lightbox-next" data-lightbox-next aria-label="{{ T "lightbox_next" }}">&#8250;</button>
  <p class="lightbox-counter" data-lightbox-counter></p>
</div>
{{ end }}