{{- $map := dict
  "السياسة الفلسطينية" "cat-1"
  "Palestinian Politics" "cat-1"
  "الصراع الفلسطيني الإسرائيلي" "cat-2"
  "Israeli-Palestinian Conflict" "cat-2"
  "الشأن العربي" "cat-3"
  "Arab Affairs" "cat-3"
  "السياسة الدولية" "cat-4"
  "International Politics" "cat-4"
  "سوريا" "cat-5"
  "Syria" "cat-5"
  "إيران" "cat-6"
  "Iran" "cat-6"
  "لبنان وحزب الله" "cat-7"
  "Lebanon and Hezbollah" "cat-7"
  "الفكر الإسلامي" "cat-8"
  "Islamic Thought" "cat-8"
  "الشأن الأكاديمي" "cat-9"
  "Academic Affairs" "cat-9"
  "قضايا شخصية وقانونية" "cat-10"
  "Personal and Legal Affairs" "cat-10"
  "الفساد والمال العام" "cat-11"
  "Corruption and Public Funds" "cat-11"
  "الانتخابات الفلسطينية" "cat-12"
  "Palestinian Elections" "cat-12"
  "الانقسام والمصالحة" "cat-13"
  "The Divide and Reconciliation" "cat-13"
  "قيادة السلطة: عرفات وعباس" "cat-14"
  "PA Leadership: Arafat and Abbas" "cat-14"
  "القدس والأقصى" "cat-15"
  "Jerusalem and Al-Aqsa" "cat-15"
  "حروب غزة" "cat-16"
  "Gaza Wars" "cat-16"
  "المقاومة: استراتيجية وانتفاضات" "cat-17"
  "Resistance: Strategy and Uprisings" "cat-17"
  "المفاوضات واتفاقيات أوسلو" "cat-18"
  "Negotiations and the Oslo Accords" "cat-18"
-}}
{{- index $map . | default "cat-1" -}}
